<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">   
		<title>{{- block "title" . -}} {{ .Title }} &mdash; {{ .Site.Title }} {{- end -}}</title>
		{{ $style := resources.Get "styles/main.css" }}
		<link rel="stylesheet" href="{{ $style.Permalink }}">
		{{ with .OutputFormats.Get "rss" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
		{{ end -}}
		{{- block "header" . -}}
		{{- end -}}
	</head>
	<body>
		{{- block "main" . -}}
		{{- end -}}
		{{- block "footer" . -}}
		{{- end -}}
	</body>
</html>
