<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">   
        <title>
            {{- block "title" . -}}
                {{ .Title }} &mdash; {{ .Site.Title }}
            {{- end -}}
        </title>
        {{ $style := resources.Get "styles/main.css" | minify | fingerprint }}
        <link rel="stylesheet" href="{{ $style.Permalink }}">
        {{- block "head" . -}}
        {{- end -}}
    </head>
    <body>
        {{- block "main" . -}}
        {{- end -}}
        {{- block "footer" . -}}
        {{- end -}}
        <!-- Default Statcounter code for sransara-xyz http://s.ransara.xyz/ -->
        <script type="text/javascript">
        var sc_project=11969798; 
        var sc_invisible=1; 
        var sc_security="b02ef4f5"; 
        </script>
        <script type="text/javascript"
        src="https://www.statcounter.com/counter/counter.js"
        async></script>
        <noscript><div class="statcounter"><a title="Web Analytics"
        href="https://statcounter.com/" target="_blank"><img
        class="statcounter"
        src="https://c.statcounter.com/11969798/0/b02ef4f5/1/"
        alt="Web Analytics"></a></div></noscript>
        <!-- End of Statcounter Code -->
    </body>
</html>
