{{ define "main" }}

<main class="container leading-normal max-w-2xl mx-auto p-3">
  {{ partial "breadcrumbs.html" . }}
  <h1 class="mb-3 text-5xl font-bold">{{ .Title }}</h1>
  <div class="asciidoc">
    {{ .Content }}
  </div>
  <ul>
    {{ range .Sections.ByDate.Reverse }}
    <li>
      <h2 class="mt-6 mb-3 font-bold">
        {{ .Title }}
      </h2>
    </li>
    <ul>
      {{ range .Pages.ByDate.Reverse }}
      <li class="mb-3">
        <span class="text-gray-600">{{ .Date.Format "Jan 02, 2006" }}</span> ↴ <br />
        <a class="underline text-blue-800 hover:text-blue-500" href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
      {{ end }}
    </ul>
    {{ else }}
      {{ range .Pages.ByDate.Reverse }}
      <li class="mb-3">
        <span class="text-gray-600">{{ .Date.Format "Jan 02, 2006" }}</span> ↴ <br />
        <a class="underline text-blue-800 hover:text-blue-500" href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
      {{ end }}
    {{ end }}
  </ul>
</main>

{{ end }}
