{{ define "main" }}
<main class="container leading-normal max-w-2xl mx-auto p-3">
  {{ partial "breadcrumbs.html" . }}
  <h1 class="mt-6 mb-3 font-bold">{{ .Title }}</h1>
  <div class="classless">
    {{ .Content }}
  </div>
  <ul>
    {{ range .Sections.ByWeight.Reverse }}
    <li>
      <h2 class="mt-6 mb-2 font-bold">
        {{ .Title }}
      </h2>
    </li>
    <ul>
      {{ range .Pages.ByDate.Reverse }}
      <li class="mb-2">
        <span class="text-gray-600">{{ .Date.Format "Jan 02, 2006" }}</span> &mdash; <a href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
      {{ end }}
    </ul>
    {{ else }}
      {{ range .Pages.ByDate.Reverse }}
      <li class="mb-2">
        <span class="text-gray-600">{{ .Date.Format "Jan 02, 2006" }}</span> &mdash; <a href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
      {{ end }}
    {{ end }}
  </ul>
</main>
{{ end }}
