{{ define "main" }}
<main class="p-6 max-w-2xl">
  {{ partial "breadcrumbs.html" . }}
  <h1 class="mb-2 text-3xl font-bold">{{ .Title }}</h1>
  <h5 class="mb-6 text-gray-500">
    Published on
    <span class="text-gray-700">{{ .Date.Format "Jan 02, 2006" }}</span>
    by
    <span class="text-gray-700">Samodya R. Abeysiriwardane</span> /
    <a class="font-normal" target="_blank" rel="noopener noreferrer" href="https://github.com/sransara/sransara-xyz/tree/master/content/{{ .File.Dir }}">Source</a>
  </h5>
  <div class="classless">
    <div class="p-2 border-2 mb-4">
      <span class="text-gray-600">Table of Contents</span>
      {{ .TableOfContents }}
    </div>
    {{ .Content }}

    <hr class="my-4 border-4 border-gray-700" />

    <script src="https://utteranc.es/client.js" repo="sransara/sransara-xyz" issue-term="pathname" label="comment" theme="github-light" crossorigin="anonymous" async> </script>
  </div>
</main>
{{ end }}
