{{ define "header" }}

{{ end }}

{{ define "main" }}

<main class="container leading-normal max-w-2xl mx-auto p-3">
    {{ partial "breadcrumbs.html" . }}
    <h1 class="mb-2 text-3xl font-bold">{{ .Title }}</h1>
    <h5 class="mb-2 text-gray-500 text-xs">
        Published
        by <span class="text-gray-800">Samodya R. Abeysiriwardane</span>
        on <span class="text-gray-800">{{ .Date.Format "Jan 02, 2006" }}</span>
        &nbsp;/&nbsp;<a target="_blank" rel="noopener noreferrer" href="https://github.com/sransara/sransara-com/tree/master/content/{{ .File.Dir }}">Source</a>
        &nbsp;/&nbsp;<a href="{{.Permalink}}">Permalink</a>
    </h5>
    <hr class="my-2 border-2 border-gray-700" />
    <div id="article" class="classless">
        {{ .Content }}
    </div>
</main>

{{ end }}

{{ define "footer" }}

<script>
(function (){
})();
</script>

{{ end }}
