---
import BaseLayout from '#/src/layouts/baseLayout/BaseLayout.astro';
import NavBar from '#/src/lib/astro/navBar/NavBar.astro';
---

<BaseLayout>
  <Fragment slot="head"></Fragment>
  <Fragment slot="body">
    <NavBar url={Astro.url} />
    <div class="my-6">
      <h1 class="text-5xl font-black">Hi, I am Sam.</h1>
      <h2 class="mt-2 text-3xl font-bold">Welcome to my corner of the cyberspace.</h2>
    </div>

    <div class="my-6">
      <h2 class="text-xl font-bold">Explore</h2>
      <div class="text-2xl">
        <a class="my-1 block text-blue-800 underline hover:text-blue-500" href="/notes/">
          <span>Notes</span>
          &mdash; to self
        </a>
        <a class="my-1 block text-blue-800 underline hover:text-blue-500" href="/about/">
          <span>About</span>
          &mdash; meh
        </a>
      </div>
    </div>
  </Fragment>
</BaseLayout>
