@tailwind base;

/* purgecss start ignore */
html {
  font-size: 18px;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

h4 {
  @apply text-base;
}

h5 {
  @apply text-base;
}

h6 {
  @apply text-base;
}

a {
  @apply text-blue-600 underline;
}

.classless {
  @apply font-serif leading-normal text-gray-800;

  blockquote {
    @apply bg-gray-200 border-l-4 border-gray-500 p-2;
  }

  dt {
    @apply font-semibold mt-6;
  }

  dd {
    @apply mb-3;
  }

  em {
    @apply font-semibold not-italic;
  }

  figure {
    @apply text-center border-4 border-gray-200 p-2 my-4;

    img {
      @apply mx-auto;
    }
  }

  figure figcaption {
    @apply border-t-2 font-sans p-1;

    p {
      @apply p-0 m-0 text-xs;
    }

    h4 {
      @apply p-0 m-0 mt-2 text-sm;
    }
  }

  h1, h2, h3 {
    @apply border-b mt-4 mb-2 leading-tight text-black;
  }

  h4, h5, h6 {
    @apply mt-4 mb-2 leading-tight text-black;
  }

  ul {
    padding: 0 1em;
    @apply mb-4 list-disc;
  }

  ol {
    padding: 0 1em;
    @apply mb-4 list-decimal;
  }

  li {
    @apply my-2;
  }

  p {
    @apply mt-2 mb-4;
  }

  table {
    @apply w-full;
  }

  th, td {
    @apply border border-collapse border-gray-500 p-1;
  }

  pre {
    @apply bg-gray-800 font-mono p-2 overflow-x-auto text-gray-300 text-xs my-3;
    tab-size: 2;
  }

  :not(pre) > code,
  > code {
    @apply bg-gray-600 font-mono px-1 rounded text-sm text-gray-300;
  }

  strong {
    @apply bg-yellow-300 font-medium;
  }
}
/* purgecss end ignore */

@tailwind components;

@tailwind utilities;
