{{ define "breadcrumb" }}
  {{ with .Parent }}
    {{ template "breadcrumb" . }}
      <span class="whitespace-no-wrap inline-block">
        / <a class="underline text-blue-800 hover:text-blue-500" href="{{ .RelPermalink }}">
          {{ if .IsHome }}
            home/sransara
          {{ else }}
            {{ path.Base .File.Dir }}
          {{ end }}
        </a>
      </span>
  {{ end }}
{{ end }}

<div class="mb-6 text-sm font-mono">
  {{ if .IsHome }}
    <span class="whitespace-no-wrap inline-block">
      / home/sransara
    </span>
  {{ else }}
    {{ template "breadcrumb" . }}
    {{ if not .IsPage }}
      <span class="whitespace-no-wrap inline-block">
        / {{ path.Base .File.Dir }}
      </span>
    {{ end }}
  {{ end }}
  <span class="whitespace-no-wrap inline-block"> / $
    <span class="text-gray-600 inline-block">
      cat /dev/urandom
    </span>
  </span>
</div>
