{{ define "title" }}
sransara &mdash; True randomness
{{ end }}

{{ define "main" }}
<main class="container leading-normal max-w-2xl mx-auto p-3">
  {{ partial "breadcrumbs.html" . }}
  <div class="my-6">
    <h1 class="font-black text-5xl">Hi, I am Sam.</h1>
    <h2 class="font-bold mt-2 text-3xl">Welcome to my corner of the cyberspace.</h2>
  </div>

  <div class="my-6">
    <h2 class="font-bold">Explore</h2>
    <div class="text-2xl">
      <a href="/notes/">
        <span>
          <span>Notes</span>
        </span>
        &mdash; to self
      </a> 
      <br />
      <a href="/lab/">
        <span>
          <span>Lab</span>
        </span>
         &mdash; of the lost
      </a>
      <br />
      <a href="/about/">
        <span>
          <span>About</span>
        </span>
         &mdash; meh
      </a>
    </div>
  </div>
</main>
{{ end }}
