{{ define "title" }}
sransara &mdash; True randomness
{{ end }}

{{ define "main" }}
<main class="p-6">
  {{ partial "breadcrumbs.html" . }}
  <div class="my-6">
    <h1 class="font-black text-3xl">Hi, I am Sam.</h1>
    <h2 class="font-bold mt-2">Welcome to my corner of the cyberspace.</h2>
  </div>

  <div class="my-6 leading-normal">
    <h3 class="font-bold">Explore</h3>
    <div>
      <a href="/notes/">
        <span>
          <span>Notes</span>
        </span>
      </a> - Half baked writeups
      <br />
      <a href="/projects/">
        <span>
          <span>Projects</span>
        </span>
      </a> - This and that
      <br />
      <a href="/about/">
        <span>
          <span>About</span>
        </span>
      </a> - Meh
    </div>
  </div>

  <div class="my-6 leading-normal">
    <h3 class="font-bold">Social</h3>
    <div>
      <a href="//github.com/sransara" target="_blank" rel="noopener noreferrer">
        <span>
          <span>Github</span>
        </span>
      </a>
      <br />
      <a href="//twitter.com/sransara" target="_blank" rel="noopener noreferrer">
        <span>
          <span>Twitter</span>
        </span>
      </a>
      <br />
    </div>
  </div>
</main>
{{ end }}
