---
import BaseLayout from '#/src/layouts/baseLayout/BaseLayout.astro';
import NavBar from '#/src/lib/astro/navBar/NavBar.astro';
---

<BaseLayout title="Projects">
  <Fragment slot="head"></Fragment>
  <Fragment slot="body">
    <NavBar url={Astro.url} />
    <h1 class="my-3 text-5xl font-bold">Projects</h1>
    <p>WIP</p>
  </Fragment>
</BaseLayout>
