<Image 
    src={import(" {$- node.getImageUri(node.getAttribute('target')) -$} ")} 
    alt={" {$- node.getAttribute('alt') -$} "}
    width={ {$- node.getAttribute('width') -$} }
    height={ {$- node.getAttribute('height') -$} }
/>
