{{ $metaf := .Page.Scratch.Get "metaf" | os.Stat }}
{{ $meta := .Page.Scratch.Get "meta" }}
{{ $shortcodes := index $meta .Name }}
{{ $id := "nil" }}
{{ if .Get "name" }}
    {{ $id = .Get "name" }}
{{ else }}
    {{ $id = printf "%s:%d" .Name .Position.Offset }}
{{ end }}
{{ $this := index $shortcodes $id }}
{{ $ordinal := index $this "ordinal" }}

<figure id="{{ .Name }}:{{ $ordinal }}{{ if .Get "name"}}:{{ .Get "name" }}{{ end }}">
    <img src="{{ .Get "src" }}" {{ if .Get "caption" }}alt="{{ .Get "caption"}}"{{ end }} />
    <figcaption>
        {{ if .Get "caption" }}
        <strong>Figure {{ $ordinal }}:</strong> {{ .Get "caption" | .Page.RenderString }}
        {{ if .Get "attr" }}
        <br />{{ .Get "attr" | .Page.RenderString }}
        {{ end }}
        {{ else }}
        <strong>Figure {{ $ordinal }}</strong>
        {{ end }}
    </figcaption>
</figure>
