{{ $mdmeta_file := .Page.Scratch.Get "mdmeta_file" | os.Stat }}
{{ $mdmeta := .Page.Scratch.Get "mdmeta" }}
{{ $refdb := index $mdmeta "ref-db" }}
{{ $figures := index $refdb "figure" }}
{{ $id := "nil" }}
{{ if .Get "name" }}
    {{ $id = .Get "name" }}
{{ else }}
    {{ $id = printf "%d" .Position.Offset }}
{{ end }}
{{ $this := index $figures $id }}
{{ $ordinal := index $this "ordinal" }}

<figure id="figure:{{ $ordinal }}{{ if .Get "name"}}:{{ .Get "name" }}{{ end }}">
    <img src="{{ .Get "src" }}" {{ if .Get "caption" }}alt="{{ .Get "caption"}}"{{ end }} />
    <figcaption>
        {{ if .Get "caption" }}
        <strong>Figure {{ $ordinal }}:</strong> {{ .Get "caption" | markdownify }}
        {{ if .Get "attr" }}
        <br />{{ .Get "attr" | markdownify }}
        {{ end }}
        {{ else }}
        <strong>Figure {{ $ordinal }}:</strong>
        {{ end }}
    </figcaption>
</figure>
