{{ $mdmeta_file := .Page.Scratch.Get "mdmeta_file" | os.Stat }}
{{ $mdmeta := .Page.Scratch.Get "mdmeta" }}
{{ $shortcodes := index $mdmeta .Name }}
{{ $id := "nil" }}
{{ if .Get "name" }}
    {{ $id = .Get "name" }}
{{ else }}
    {{ $id = printf "%s:%d" .Name .Position.Offset }}
{{ end }}
{{ $this := index $shortcodes $id }}
{{ $ordinal := index $this "ordinal" }}

<figure id="{{ .Name }}:{{ $ordinal }}{{ if .Get "name"}}:{{ .Get "name" }}{{ end }}">
    {{ highlight (trim .Inner "\n") (default "" (.Get "lang")) (default "" (.Get "options")) }}
    <figcaption>
        {{ if .Get "caption" }}
        <strong>Listing {{ $ordinal }}:</strong> {{ .Get "caption" | markdownify }}
        {{ if .Get "attr" }}
        <br />{{ .Get "attr" | markdownify }}
        {{ end }}
        {{ else }}
        <strong>Listing {{ $ordinal }}</strong>
        {{ end }}
    </figcaption>
</figure>
