---
interface Props {
  url: URL;
  pageType?: 'non-leaf' | 'leaf';
}

const { url, pageType = 'non-leaf' } = Astro.props;

let urlPathParts = url.pathname.split('/').filter((p) => p.length);
urlPathParts = urlPathParts
  .slice(0, pageType === 'leaf' ? urlPathParts.length - 1 : urlPathParts.length)
  .filter((x) => x);

function urlPathPartsToPath(pathParts: string[]) {
  return '/' + pathParts.join('/');
}

const navPathParts = [];
navPathParts.push({ text: 'home/sransara', link: '/', sep: '/' });
urlPathParts.forEach((urlPathPart, i) => {
  navPathParts.push({
    text: urlPathPart,
    link: urlPathPartsToPath(urlPathParts.slice(0, i + 1)),
    sep: '/'
  });
});
navPathParts.push({
  text: 'cat /dev/urandom',
  link: undefined,
  sep: '/ $'
});
---

<div class="mb-2 font-mono text-sm">
  {
    // prettier-ignore
    navPathParts.map((p, _i) =>
      <span class="whitespace-no-wrap inline-block">{p.sep}&nbsp;{p.link ? (<a class="text-blue-800 underline hover:text-blue-500" href={p.link}>{p.text}</a>): (<span class="inline-block text-gray-400">{p.text}</span>)}&nbsp;</span>
    )
  }
</div>
